.MyForm{
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.FieldsContainer{
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    flex-flow: column;
    width: 100%;
    /*vertical-align: center;*/
}

.InputItem{
    flex-grow: 1;
}