.MyForm{
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, .2);
}

.FieldsContainer{
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    flex-flow: column;
    width: 100%;
    /*vertical-align: center;*/
}

.InputItem{
    flex-grow: 1;
}