.PlayerCard{
    box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, .01);
    width: 17%;
}

.Username{
    margin-top: 20px;
    align-self: center;
}

.Picture{
    margin-top: 10px;
    width: 90%;
    height: 100px;
    align-self: center;
}

.Eliminate{
    align-self: center;
    display: flex;
    flex-direction: column;
}