.PlayerCard{
    box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, .01);
    width: 15%;
    margin-left: 2%;
}

.Username{
    margin-top: 10px;
    align-self: center;
}

.Picture{
    width: 90%;
    aspect-ratio: 10 / 9;
    align-self: center;
}

.Eliminate{
    align-self: center;
    height: 20px;
}