.UserPic{
    width: 50px;
    height: 50px;
    margin-left: 3%;
}

.AuthContainer{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    align-self: flex-end;
}

.Button{
    height: 100%;
    padding-top: 10px;
    margin-left: 1%;
    min-width: 100px;
}

.Username{
    margin-left: 3%;
}

.LoginContainer{
    width: 13%;
    max-width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    align-self: flex-end;
}