.Wrapper{
    margin-top: 100px;
    margin-left: 3%;
    display: grid;
    gap: 3%;
    grid-template-columns: 15% 60% 15%;
}

.GameCode{
    grid-column: 1;
    align-self: center;
}

.GameMaster{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.MasterPicture{
    width: 75%;
    align-self: center;
}

.MasterUsername{
    align-self: center;
    margin-top: 20px;
}

.MasterActions{
    grid-column: 1;
    align-self: center;
}

.FirstPlayersRow{
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

.GameInfo{
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.SecondPlayersRow{
    align-self: center;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: row;
}

.GameBank{
    align-self: center;
    grid-column: 3;
    grid-row: 1;
}

.GameLevels{
    margin-top: -20px;
    grid-column: 3;
    grid-row: 2 / 4;
}